.profileInfo {
    border: 2px solid black;
    border-radius: 2px;
    padding: 10px;
    display: inline-block;
}

.profileInfoList {
    padding: 2px;
    padding-left: 5px;
}

.mainAbstract {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1px;
}

.title {
    font-weight: bold;
}

.contact {
    padding: 3px;
    padding-left: 15px;
}