.loginPage {
    margin: 40px auto 0;
    width: 300px;
    border: 2px solid black;
    border-radius: 3px;
    padding: 10px;
}

.loginFormWrapper {
    border-bottom: 3px dashed rgb(76, 8, 139);
    padding-bottom: 12px;
    border-top: 3px dashed rgb(76, 8, 139);
    padding-top: 5px;
    margin-top: 5px;
}

.loginButton {
    margin-top: 5px;
}

.loginImage {
    margin: 5px 0;
    border: 1px black dotted;
    border-radius: 3px;
}

.loginAccessField {
    margin: 7px 0;
}

.accessData {
    font-weight: 500;
}