.defaultWebsiteButton {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 15px 0 0;
    outline: none;
    border: 1px solid #6c757d;
    border-radius: 5px;
    height: 38px;
    line-height: 38px;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    color: #6c757d;
    background-color: #fff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}

.defaultWebsiteButton:focus {
    box-shadow: 0 0 0 3px rgb(108 117 125 / 50%);
}

.defaultWebsiteButton:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.defaultWebsiteButton:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.defaultWebsiteButton:disabled {
    pointer-events: none;
    opacity: 0.65;
}