a.active {
    font-weight: 650;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 0cqi;
}

.nonActive {
    color: rgb(243, 234, 246);
}