.largeProfilePhoto {
    padding: 10px 0;
    border-radius: 15px;
    width: 100%;
}

.imageField {
    position: relative;
    width: 33%;
    border: 2px solid black;
    padding: 0 10px 10px;
    margin: 10px 0;
    border-radius: 2px;
}

.inputWrapper {
    text-align: center;
}