.header {
    grid-area: h;
    background-color: rgb(57, 99, 31);
    padding: 10px;
    margin: 0px;
}

h1 {
    display: inline-block;
}

.userLoginField {
    float: right;
}

.userLoginField a {
    color: white;
    text-decoration: none;
}

.userLoginField a:hover {
    color: salmon;
}

.logOutField {
    color: white;
    border-top: 2px solid rgb(119, 119, 244);
    padding: 0;
}

.logOutField:hover {
    color: salmon;
    cursor: pointer;
}