.header {
    font-size: large;
    grid-area: h;
    background: url(../../resources/images/logo.png) 25px 5px no-repeat;
    background-color: rgb(76, 8, 139);
    border-radius: 5px;
    position: relative;
}

.logWrapper {
    position: absolute;
    right: 25px;
    top: 10px;
}

.logWrapper a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding-bottom: 4px;
}

.logWrapper a:hover {
    color: salmon;
}

.logOutField {
    color: white;
    border-top: 2px solid rgb(119, 119, 244);
}

.logOutField:hover {
    color: salmon;
    cursor: pointer;
}