.navbar {
    grid-area: n;
    background-color:
        rgb(167, 147, 174)
        /* rgb(243, 234, 246) */
    ;
    border-radius: 5px;
}

.list {
    margin: 10px 0 5px 10px;
    padding: 0;
}

.list li {
    list-style: none;
    padding: 7px;
}

.list a {
    text-decoration: none;
    font-size: 17px;
    font-weight: 450;
}